
<app-header/>
<!-- About Us Section -->
<section class="about-us" style="padding-top: 10%;">
    <div class="container">
        <h2>About Us - Stationery Plaza</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about.jpg" class="img-fluid" alt="Stationery Plaza">
            </div>
            <div class="col-md-6 about-content">
                <p>Welcome to Stationery Plaza, your one-stop destination for all your stationery needs in Zimbabwe.
                    Founded in [year], we are dedicated to providing high-quality stationery products at affordable prices.</p>
                <p>At Stationery Plaza, we understand the importance of quality stationery in your everyday life and work.
                    Whether you're a student, teacher, artist, or professional, we have everything you need to express yourself
                    and stay organized.</p>
                <p>Our extensive collection includes pens, pencils, notebooks, art supplies, office essentials, and much more.
                    We source our products from trusted suppliers to ensure the best quality for our customers.</p>
                <p>Customer satisfaction is our top priority, and we strive to provide excellent service and a seamless shopping
                    experience. Shop with confidence at Stationery Plaza and make your stationery dreams a reality!</p>
            </div>
        </div>
    </div>
</section>