
<app-header/>
<section class="contact-us mt-30" style="margin-top: 10%;">
    <div class="container">
        <h2>Contact Us - Stationery Plaza</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Contact Us">
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/174/174848.svg" class="svg-icon"
                        alt="Location">
                    <span>123 Main Street, Harare, Zimbabwe</span>
                </div>
                <div class="contact-info">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/3075/3075974.svg" class="svg-icon"
                        alt="Phone">
                    <span>+263 123 456 789</span>
                </div>
                <div class="contact-info">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/3064/3064922.svg" class="svg-icon"
                        alt="Email">
                    <span>{{'info@stationeryplaza.com'}}</span>
                </div>
                <div class="contact-info">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/732/732200.svg" class="svg-icon"
                        alt="Social Media">
                    <span>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, and <a
                            href="#">Instagram</a></span>
                </div>
            </div>
        </div>
    </div>
</section>