
<app-header/>
<section class="contact-us mt-30" style="margin-top: 10%;">
    <div class="container">
        <h2>Contact Us - Stationery Plaza</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/about.jpg" class="img-fluid" alt="Contact Us">
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <i class="lni lni-pin"></i>
                    <span>123 Main Street, Harare, Zimbabwe</span>
                </div>
                <div class="contact-info">
                    <i class="lni lni-phone"></i>
                    <span>+263 123 456 789</span>
                </div>
                <div class="contact-info">
                    <i class="lni lni-domain"></i>
                    <span>{{'info@stationeryplaza.com'}}</span>
                </div>
                <div class="contact-info">
                    <i class="lni lni-facebook"></i>
                    <span>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, and <a
                            href="#">Instagram</a></span>
                </div>
            </div>
        </div>
    </div>
</section>