<div class="body-container">
    <div class="container-fluid">
      <div class="card">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
        ></apx-chart>
      </div>
    </div>
  </div>
  
