<app-header/>

<!-- Start Main -->
<main style="padding-top: 15%;" class="pt-9">
  <!-- Carousel Added -->
  <div class="container mt-30 mb-5" >
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
      style="margin-top: 10%;"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner rounded-3" >
        <div class="carousel-item active">
          <div class="row panda-bg-info p-5 d-flex align-items-center" style="background-color: #e3f2fd;">
            <div class="col-lg-7">
              <h1 class="fw-bold mb-3">Elegant Fountain Pens</h1>
              <p class="mb-4 text-black">
                Explore our exquisite collection of fountain pens crafted for
                the connoisseurs of fine writing. Experience the smooth flow of
                ink on premium paper with our handpicked selection.
              </p>
              <!-- <h1 class="price fw-semibold text-black mb-12">$2 - $25</h1> -->
              <button type="button" class="btn btn-primary" routerLink="/shop">
                Shop Now <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-lg-5">
              <img
                src="assets/images/products/pens.png"
                class="d-block w-100 mt-4"
                alt="Elegant Fountain Pens"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row panda-bg-info p-5 d-flex align-items-center" style="background-color: #e3f2fd;">
            <div class="col-lg-7">
              <h1 class="fw-bold mb-3">Colorful Notebook Sets</h1>
              <p class="mb-4">
                Brighten up your workspace with our vibrant and stylish notebook
                sets. Perfect for jotting down ideas, notes, and sketches, our
                notebooks are designed to inspire creativity.
              </p>
              <!-- <h1 class="price fw-semibold">$10 - $30</h1> -->
              <button type="button" class="btn btn-primary" routerLink="/shop">
                Shop Now <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-lg-5">
              <img
                src="assets/images/products/notebook.png"
                class="d-block w-100 mt-4"
                alt="Colorful Notebook Sets"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row panda-bg-info p-5 d-flex align-items-center" style="background-color: #e3f2fd;">
            <div class="col-lg-7">
              <h1 class="fw-bold mb-3">Creative Stationery Accessories</h1>
              <p class="mb-4 text-black">
                Elevate your desk decor with our range of creative stationery
                accessories. From elegant penholders to quirky paperweights, we
                have everything you need to personalize your workspace.
              </p>
              <!-- <h1 class="price fw-semibold">$5 - $50</h1> -->
              <button type="button" class="btn btn-primary" routerLink="/shop">
                Shop Now <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div class="col-lg-5">
              <img
                src="assets/images/products/accessories.png"
                class="d-block w-100 mt-4"
                alt="Creative Stationery Accessories"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Category Shoes -->
  <section
    class="all-categories mt-30 mb-5 body-wrapper"
    style="padding-top: 7%;text-align: center;"
  >
  <div class="text-align-center justify-content-center">
    <h2 class="heading">Products Available</h2>
  </div>
    <div class="container-fluid">
      <div class="row text-center" *ngIf="products.length > 0; else noProducts">
        <div class="col-sm-6 col-xl-3" *ngFor="let product of products">
          <div class="card overflow-hidden rounded-2">
            <div class="position-relative">
              <a >
                <!-- <img
                  *ngIf="product.category === 'PENS_PENCILS'"
                  src="assets/images/products/pens-pencils.jpg"
                  class="category-image"
                  alt="Pens and Pencils"
                /> -->
                <img
                  *ngIf="product.name === 'elegant fountain pens' || product.category==='PENS_PENCILS'"
                  src="assets/images/products/elegant_pen.jpg"
                  class="category-image"
                  alt="Pens and Pencils"
                />

                <img
                  *ngIf="product.category === 'STATIONERY_SETS'"
                  src="assets/images/products/bondpaper.png"
                  class="category-image"
                  alt="Stationery Sets"
                />

                <img
                  *ngIf="product.category === 'NOTE_BOOKS'"
                  src="assets/images/products/notebooks.jpg"
                  class="category-image"
                  alt="Notebooks"
                />

                <img
                  *ngIf="product.category === 'BOND_PAPER'"
                  src="assets/images/products/bond-paper.png"
                  class="category-image"
                  alt="Bond Paper"
                />
              </a>
            </div>
            <div class="card-body pt-3 p-4">
              <h6 class="fw-semibold fs-4">{{ product.name }}</h6>
              <p class="fw-semibold fs-4">{{ product.description }}</p>
              @if(product.status=='IN_STOCK'){
              <span class="badge rounded-pill text-bg-light"
                >In Stock - {{ product.currency }} ${{
                  product.sellingPrice
                }}</span
              >

              } @else{
              <span class="badge rounded-pill text-bg-danger"
                >Out Of Stock</span
              >

              }
              <button
                class="btn btn-success btn-block mt-3"
                (click)="addToCart(product)"
              >
                Buy Now
              </button>
            </div>
          </div>
          <div class="button"></div>
        </div>
      </div>
      <ng-template #noProducts>
        <div class="col-12 text-center">
          <h3>No products in stock</h3>
        </div>
      </ng-template>
    </div>
  </section>
</main>
<!-- End Main -->
