<div class="body-container">
  <div class="container-fluid" style="margin-top: 5%">
    <div class="row">
      <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body p-4">
            <h5 class="card-title fw-semibold mb-4">List of Products</h5>
            <div class="table-responsive">
              <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Product Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Product Name</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Description</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Quantity</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Stock Level</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Price</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">{{ product.productId }}</h6>
                    </td>
                    <td class="border-bottom-0">
                      <span class="fw-normal">{{ product.productName }}</span>
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal">{{ product.description }}</p>
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal">{{ product.quantity }}</p>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <span
                          [ngClass]="{
                            'badge bg-success fw-semibold rounded-3':
                              product.stockLevel === 'High',
                            'badge bg-warning fw-semibold rounded-3':
                              product.stockLevel === 'Medium',
                            'badge bg-danger fw-semibold rounded-3':
                              product.stockLevel === 'Low'
                          }"
                          >{{ product.stockLevel }}</span
                        >
                      </div>
                    </td>

                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0 fs-4">{{ product.price }}</h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
