<div class="body-container">
  <div class="container-fluid" >
    <div class="card1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <!-- <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5> -->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="icon" style="font-size:35pt;">
                        <i class="lni lni-folder"></i>
                    </div>
                    
                  </div>
                  <div class="col-8">
                    <h6 class="card-title">Sales Report</h6>
                    <p class="card-text">
                      Report on Sales
                    </p>
                    <a class="card-link" style="cursor: pointer;">Access Report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5> -->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="icon" style="font-size:35pt;">
                        <i class="lni lni-graph"></i>
                    </div>
                    
                  </div>
                  <div class="col-8">
                    <h6 class="card-title">Sales Charts</h6>
                    <p class="card-text">
                      Sales Analytics
                    </p>
                    <a class="card-link" style="cursor: pointer;">Access Chart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <h5 class="card-title fw-semibold mb-4">Titles, text, and links</h5> -->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="icon" style="font-size:35pt;">
                        <i class="lni lni-clipboard"></i>
                    </div>
                    
                  </div>
                  <div class="col-8">
                    <h6 class="card-title">Products Report</h6>
                    <p class="card-text">
                      Report on Products
                    </p>
                    <a class="card-link" style="cursor: pointer;">Access Report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

